

<ov-videoconference (click)="startChat()" [tokens]="tokens">
	
			<ov-panel *ovPanel>
				<div *ovChatPanel  >

					<div class="upper">
						<div *ngFor="let msg of messages" >
							<br>
							<mat-card *ngIf="msg.sender == user" class="rightItem">
								<!-- This is a normal message-->
								<mat-card-subtitle class="chat-messages--text--color chat-messages--text-subtitle--dimension"
												[innerHTML]="msg.message"></mat-card-subtitle>
							</mat-card>
							<br>
							<br>
							<mat-card *ngIf="msg.sender != user" class="leftItem">
								<mat-card-title
								class="chat-messages--text--color chat-messages--text-title--dimension">{{msg.sender}}</mat-card-title>
								<!-- This is a normal message-->
								<mat-card-subtitle class="chat-messages--text--color chat-messages--text-subtitle--dimension"
												[innerHTML]="msg.message"></mat-card-subtitle>
							</mat-card>
						</div>
					</div>
					<div class="lower">
						<mat-toolbar id="lowerChat" color="warn">
						  <div class="leftButtonClip">
							<button mat-icon-button class="clipButton" (click)="openDialog()" aria-label="Drop files">
							  <img  class="imageButtonBottomPart" src="assets/AttachNight1.png" alt="">
							</button>
						  </div>
						  <div class="midEmojiButton">
							<button class="emoji-mart--button--dimensions" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀
							</button>
						  </div>
						  <div class="rightTextArea">
							<div class="form--send-message">
								<textarea [(ngModel)]="textArea" id="textAreaForm" placeholder="Type anything"></textarea>
								<button mat-icon-button class="sendButton" (click)="onSubmit(textArea)" aria-label="Send"><img class="imageButtonBottomPart"   src="assets/SendNight1.png" alt="" ></button>
						  	</div>
						  </div>
						</mat-toolbar>
					  </div>
				</div>
				
				<div *ovParticipantsPanel id="my-participants-panel">
					This is my custom participants panel
				</div>
			</ov-panel>
		</ov-videoconference>
		