

<ov-videoconference (click)="startChat()" [tokens]="tokens" (onSessionCreated)="onSessionCreated($event)">
	
			<ov-panel *ovPanel>
				<div *ovChatPanel  >

					<div class="upper">
						<div *ngFor="let msg of messages" >
							<mat-card *ngIf="msg.sender == user" class="rightItem">
								<mat-card-title
								class="chat-messages--text--color chat-messages--text-title--dimension">{{msg.sender}}</mat-card-title>
								<!-- This is a normal message-->
								<mat-card-subtitle class="chat-messages--text--color chat-messages--text-subtitle--dimension"
								*ngIf="recogniseFileType(msg.type) == 0"
												[innerHTML]="msg.message"></mat-card-subtitle>

							<!--<mat-card-subtitle class="chat-messages--text--color chat-messages--text-subtitle--dimension"
							style="text-align: center"
							*ngIf="recogniseFileType(msg.type) == 1">
							   <img [src]="msg.image" (click)="maximizeImage(msg.image);" class="imageFile" alt="">
							   <br>
							   {{msg.message}}
							 </mat-card-subtitle>-->
							 <!-- This is a file message-->
								<mat-card-subtitle class="chat-messages--text--color chat-messages--text-subtitle--dimension"
												*ngIf="recogniseFileType(msg.type) == 2">
									<img src="assets/FileNight1.png" class="chat-messages--file-image--details" (click)="openFile(msg);" alt="File">
									<br>
									{{msg.message}}
								</mat-card-subtitle>	
							</mat-card>
							
							<div *ngIf="msg.sender == user">
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
								<br>
							</div>
							<mat-card *ngIf="msg.sender != user" class="leftItem">
								<mat-card-title
								class="chat-messages--text--color chat-messages--text-title--dimension">{{msg.sender}}</mat-card-title>
								<!-- This is a normal message-->
								<mat-card-subtitle class="chat-messages--text--color chat-messages--text-subtitle--dimension"
								*ngIf="recogniseFileType(msg.type) == 0"
												[innerHTML]="msg.message"></mat-card-subtitle>

								<!--<mat-card-subtitle class="chat-messages--text--color chat-messages--text-subtitle--dimension"
								style="text-align: center"
								*ngIf="recogniseFileType(msg.type) == 1">
									<img [src]="msg.image" (click)="maximizeImage(msg.image);" class="imageFile" alt="">
									<br>
									{{msg.message}}
								</mat-card-subtitle>-->
								<!-- This is a file message-->
								<mat-card-subtitle class="chat-messages--text--color chat-messages--text-subtitle--dimension"
													*ngIf="recogniseFileType(msg.type) == 2">
									<img src="assets/FileNight1.png"
											class="chat-messages--file-image--details"
											(click)="openFile(msg);" alt="File">
									<br>
									{{msg.message}}
								</mat-card-subtitle>
							</mat-card>
							<br>
							<br>
							<br>
							<br>
						</div>
					</div>
					<div class="lower">
						<mat-toolbar id="lowerChat" color="warn">
						  <div class="leftButtonClip">
							<button mat-icon-button class="clipButton" (click)="openDialog()" aria-label="Drop files">
							  <img  class="imageButtonBottomPart" src="assets/AttachNight1.png" alt="">
							</button>
							<br>
							<emoji-mart class="emoji-mart--card--dimensions" [sheetSize]="64"
								*ngIf="this.isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"
								title="Choose your emoji"></emoji-mart>
						  </div>
						  <div class="midEmojiButton">
							<button class="emoji-mart--button--dimensions" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀
							</button>
						  </div>
						  <div class="rightTextArea">
							<div class="form--send-message">
								<textarea [(ngModel)]="textArea" id="textAreaForm" placeholder="Type anything"></textarea>
								<button mat-icon-button class="sendButton" (click)="onSubmit(textArea)" aria-label="Send"><img class="imageButtonBottomPart"   src="assets/SendNight1.png" alt="" ></button>
						  	</div>
						  </div>
						</mat-toolbar>
					  </div>
				</div>
				
				<div *ovParticipantsPanel id="my-participants-panel">
					This is my custom participants panel
				</div>
			</ov-panel>
		</ov-videoconference>
		